<!DOCTYPE html>
<html>
<head>
    <title>Test App</title>
</head>
<body>
    <h2>Mount Feeding Calculator</h2>

    {% if error %}
        <p style="color:red;"><strong>{{ error }}</strong></p>
    {% endif %}

    <form method="POST" action="/run-form">
        <h3>Enter your mount's current limits</h3>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Speed"
            value="{{ start[0] if start|length > 0 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Acceleration"
               value="{{ start[1] if start|length > 1 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Altitude"
               value="{{ start[2] if start|length > 2 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Energy"
               value="{{ start[3] if start|length > 3 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Handling"
               value="{{ start[4] if start|length > 4 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Toughness"
               value="{{ start[5] if start|length > 5 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Boost"
               value="{{ start[6] if start|length > 6 else '' }}"><br><br>
        <input name="start[]" type="number" min="10" step="1" required placeholder="Training"
               value="{{ start[7] if start|length > 7 else '' }}"><br><br>

        <h3>Enter your mount's target limits</h3>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Speed"
            value="{{ target[0] if target|length > 0 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Acceleration"
               value="{{ target[1] if target|length > 1 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Altitude"
               value="{{ target[2] if target|length > 2 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Energy"
               value="{{ target[3] if target|length > 3 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Handling"
               value="{{ target[4] if target|length > 4 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Toughness"
               value="{{ target[5] if target|length > 5 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Boost"
               value="{{ target[6] if target|length > 6 else '' }}"><br><br>
        <input name="target[]" type="number" min="1" step="1" required placeholder="Training"
               value="{{ target[7] if target|length > 7 else '' }}"><br><br>

        <h3>Enter your highest trained stat. This will determine what level of food to use in the calculation</h3>
        <input name="highest" type="number" min="1" step="1" required
            placeholder="Enter a number"
            value="{{ highest or '' }}"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>